openapi: 3.1.0
info:
  title: Late API
  version: "1.0.1"
  description: |
    API reference for Late. Authenticate with a Bearer API key.
    Base URL: https://getlate.dev/api

servers:
  - url: https://getlate.dev/api
    description: Production
  - url: http://localhost:3000/api
    description: Local
tags:
  - name: Posts
  - name: Users
  - name: Usage
  - name: Profiles
  - name: Accounts
  - name: Account Groups
  - name: API Keys
  - name: Invites
  - name: Connect
  - name: Media
  # - name: Video Clips  # AI Clipping feature temporarily disabled
  - name: Reddit Search
  - name: Facebook
  - name: GMB Reviews
  - name: GMB Food Menus
  - name: GMB Location Details
  - name: GMB Media
  - name: GMB Attributes
  - name: GMB Place Actions
  - name: LinkedIn Mentions
  - name: Pinterest
  - name: TikTok
  - name: Queue
  - name: Analytics
  - name: Inbox Access
    description: |
      Check and manage inbox feature access.
  - name: Messages
    description: |
      Unified inbox API for managing conversations and direct messages across all connected accounts.
      All endpoints aggregate data from multiple social accounts in a single API call.
      Requires Inbox addon.
  - name: Comments
    description: |
      Unified inbox API for managing comments on posts across all connected accounts.
      Supports commenting on third-party posts for platforms that allow it (YouTube, Twitter, Reddit, Bluesky, Threads).
      All endpoints aggregate data from multiple social accounts in a single API call.
      Requires Inbox addon.
  - name: Reviews
    description: |
      Unified inbox API for managing reviews on Facebook Pages and Google Business accounts.
      All endpoints aggregate data from multiple social accounts in a single API call.
      Requires Inbox addon.
  - name: Tools
    description: |
      Media download and utility tools. Available to paid plans only.
      Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited).
      All responses include X-RateLimit-Limit, X-RateLimit-Remaining, and X-RateLimit-Reset headers.
  - name: Webhooks
    description: |
      Configure webhooks to receive real-time notifications about post status changes, account events, and incoming messages.

      **Available Events:**
      - `post.scheduled` - When a post is successfully scheduled
      - `post.published` - When a post is successfully published
      - `post.failed` - When a post fails to publish on all platforms
      - `post.partial` - When a post publishes to some platforms but fails on others
      - `account.connected` - When a social account is successfully connected
      - `account.disconnected` - When a social account is disconnected (token expired/revoked)
      - `message.received` - When a new DM is received (Instagram, Telegram)

      **Security:**
      - Optional HMAC-SHA256 signature sent in `X-Late-Signature` header
      - Configure a secret key in webhook settings to enable signature verification
      - Custom headers can be added to webhook requests for additional authentication
  - name: Logs
    description: |
      Publishing logs for transparency and debugging. Shows detailed records of all post publishing attempts.

      **Log Data Includes:**
      - Platform API endpoint called
      - HTTP status code
      - Request body (content preview, media URLs)
      - Response body (platform post ID/URL or error details)
      - Duration and retry attempts

      **Retention:** Logs are automatically deleted after 7 days via TTL index.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: API key authentication - use your Late API key as a Bearer token
    connectToken:
      type: apiKey
      in: header
      name: X-Connect-Token
      description: |
        Short-lived connect token for API users during OAuth flows. 
        Automatically generated when initiating OAuth without a browser session.
        Valid for 15 minutes. Used to authenticate Facebook page selection API calls.
  parameters:
    PageParam:
      name: page
      in: query
      description: Page number (1-based)
      schema: { type: integer, minimum: 1, default: 1 }
    LimitParam:
      name: limit
      in: query
      description: Page size
      schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Unauthorized
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Not found
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        details:
          type: object
          additionalProperties: true
    FoodMenuLabel:
      type: object
      required: [displayName]
      properties:
        displayName: { type: string, description: Display name of the item/section/menu }
        description: { type: string, description: Optional description }
        languageCode: { type: string, description: "BCP-47 language code (e.g. en, es)" }
    Money:
      type: object
      required: [currencyCode, units]
      properties:
        currencyCode: { type: string, description: "ISO 4217 currency code (e.g. USD, EUR)" }
        units: { type: string, description: Whole units of the amount }
        nanos: { type: integer, description: Nano units (10^-9) of the amount }
    FoodMenuItemAttributes:
      type: object
      properties:
        price: { $ref: '#/components/schemas/Money' }
        spiciness: { type: string, description: "Spiciness level (e.g. MILD, MEDIUM, HOT)" }
        allergen:
          type: array
          items: { type: string }
          description: "Allergens (e.g. DAIRY, GLUTEN, SHELLFISH)"
        dietaryRestriction:
          type: array
          items: { type: string }
          description: "Dietary labels (e.g. VEGETARIAN, VEGAN, GLUTEN_FREE)"
        servesNumPeople: { type: integer, description: Number of people the item serves }
        preparationMethods:
          type: array
          items: { type: string }
          description: "Preparation methods (e.g. GRILLED, FRIED)"
        mediaKeys:
          type: array
          items: { type: string }
          description: Media references for item photos
    FoodMenuItem:
      type: object
      required: [labels]
      properties:
        labels:
          type: array
          items: { $ref: '#/components/schemas/FoodMenuLabel' }
        attributes: { $ref: '#/components/schemas/FoodMenuItemAttributes' }
        options:
          type: array
          items:
            type: object
            properties:
              labels:
                type: array
                items: { $ref: '#/components/schemas/FoodMenuLabel' }
              attributes: { $ref: '#/components/schemas/FoodMenuItemAttributes' }
          description: Item variants/options (e.g. sizes, preparations)
    FoodMenuSection:
      type: object
      required: [labels]
      properties:
        labels:
          type: array
          items: { $ref: '#/components/schemas/FoodMenuLabel' }
        items:
          type: array
          items: { $ref: '#/components/schemas/FoodMenuItem' }
    FoodMenu:
      type: object
      required: [labels]
      properties:
        labels:
          type: array
          items: { $ref: '#/components/schemas/FoodMenuLabel' }
        sections:
          type: array
          items: { $ref: '#/components/schemas/FoodMenuSection' }
        cuisines:
          type: array
          items: { type: string }
          description: "Cuisine types (e.g. AMERICAN, ITALIAN, JAPANESE)"
        sourceUrl:
          type: string
          description: URL of the original menu source
    YouTubeDailyViewsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        videoId:
          type: string
          description: The YouTube video ID
        dateRange:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
        totalViews:
          type: integer
          description: Sum of views across all days in the range
        dailyViews:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              views:
                type: integer
              estimatedMinutesWatched:
                type: number
              averageViewDuration:
                type: number
                description: Average view duration in seconds
              subscribersGained:
                type: integer
              subscribersLost:
                type: integer
              likes:
                type: integer
              comments:
                type: integer
              shares:
                type: integer
        lastSyncedAt:
          type: string
          format: date-time
          nullable: true
          description: When the data was last synced from YouTube
        scopeStatus:
          type: object
          properties:
            hasAnalyticsScope:
              type: boolean
    YouTubeScopeMissingResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: "To access daily video analytics, please reconnect your YouTube account to grant the required permissions."
        code:
          type: string
          example: youtube_analytics_scope_missing
        scopeStatus:
          type: object
          properties:
            hasAnalyticsScope:
              type: boolean
              example: false
            requiresReauthorization:
              type: boolean
              example: true
            reauthorizeUrl:
              type: string
              format: uri
              description: URL to redirect user for reauthorization
    Webhook:
      type: object
      description: Individual webhook configuration for receiving real-time notifications
      properties:
        _id:
          type: string
          description: Unique webhook identifier
        name:
          type: string
          description: Webhook name (for identification)
          maxLength: 50
        url:
          type: string
          format: uri
          description: Webhook endpoint URL
        secret:
          type: string
          description: Secret key for HMAC-SHA256 signature (not returned in responses for security)
        events:
          type: array
          items:
            type: string
            enum: [post.scheduled, post.published, post.failed, post.partial, account.connected, account.disconnected, message.received]
          description: Events subscribed to
        isActive:
          type: boolean
          description: Whether webhook delivery is enabled
        lastFiredAt:
          type: string
          format: date-time
          description: Timestamp of last successful webhook delivery
        failureCount:
          type: integer
          description: Consecutive delivery failures (resets on success, webhook disabled at 10)
        customHeaders:
          type: object
          additionalProperties:
            type: string
          description: Custom headers included in webhook requests
    WebhookLog:
      type: object
      description: Webhook delivery log entry
      properties:
        _id:
          type: string
        webhookId:
          type: string
          description: ID of the webhook that was triggered
        webhookName:
          type: string
          description: Name of the webhook that was triggered
        event:
          type: string
          enum: [post.scheduled, post.published, post.failed, post.partial, account.connected, account.disconnected, message.received, webhook.test]
        url:
          type: string
          format: uri
        status:
          type: string
          enum: [success, failed]
        statusCode:
          type: integer
          description: HTTP status code from webhook endpoint
        requestPayload:
          type: object
          description: Payload sent to webhook endpoint
        responseBody:
          type: string
          description: Response body from webhook endpoint (truncated to 10KB)
        errorMessage:
          type: string
          description: Error message if delivery failed
        attemptNumber:
          type: integer
          description: Delivery attempt number (max 3 retries)
        responseTime:
          type: integer
          description: Response time in milliseconds
        createdAt:
          type: string
          format: date-time
    WebhookPayloadPost:
      type: object
      description: Webhook payload for post events
      properties:
        event:
          type: string
          enum: [post.scheduled, post.published, post.failed, post.partial]
        post:
          type: object
          properties:
            id:
              type: string
            content:
              type: string
            status:
              type: string
            scheduledFor:
              type: string
              format: date-time
            publishedAt:
              type: string
              format: date-time
            platforms:
              type: array
              items:
                type: object
                properties:
                  platform:
                    type: string
                  status:
                    type: string
                  publishedUrl:
                    type: string
                  error:
                    type: string
        timestamp:
          type: string
          format: date-time
    WebhookPayloadAccountConnected:
      type: object
      description: Webhook payload for account connected events
      properties:
        event:
          type: string
          enum: [account.connected]
        account:
          type: object
          properties:
            accountId:
              type: string
              description: The account's unique identifier (same as used in /v1/accounts/{accountId})
            profileId:
              type: string
              description: The profile's unique identifier this account belongs to
            platform:
              type: string
            username:
              type: string
            displayName:
              type: string
        timestamp:
          type: string
          format: date-time
    WebhookPayloadAccountDisconnected:
      type: object
      description: Webhook payload for account disconnected events
      properties:
        event:
          type: string
          enum: [account.disconnected]
        account:
          type: object
          properties:
            accountId:
              type: string
              description: The account's unique identifier (same as used in /v1/accounts/{accountId})
            profileId:
              type: string
              description: The profile's unique identifier this account belongs to
            platform:
              type: string
            username:
              type: string
            displayName:
              type: string
            disconnectionType:
              type: string
              enum: [intentional, unintentional]
              description: Whether the disconnection was intentional (user action) or unintentional (token expired/revoked)
            reason:
              type: string
              description: Human-readable reason for the disconnection
        timestamp:
          type: string
          format: date-time
    WebhookPayloadMessage:
      type: object
      description: Webhook payload for message received events (DMs from Instagram, Telegram)
      properties:
        event:
          type: string
          enum: [message.received]
        message:
          type: object
          properties:
            id:
              type: string
              description: Internal message ID
            conversationId:
              type: string
              description: Internal conversation ID
            platform:
              type: string
              enum: [instagram, facebook, telegram]
            platformMessageId:
              type: string
              description: Platform's message ID
            direction:
              type: string
              enum: [incoming]
            text:
              type: string
              nullable: true
              description: Message text content
            attachments:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: Attachment type (image, video, file, sticker, audio)
                  url:
                    type: string
                    description: Attachment URL (may expire for Meta platforms)
                  payload:
                    type: object
                    description: Additional attachment metadata
            sender:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                username:
                  type: string
                picture:
                  type: string
            sentAt:
              type: string
              format: date-time
            isRead:
              type: boolean
        conversation:
          type: object
          properties:
            id:
              type: string
            platformConversationId:
              type: string
            participantId:
              type: string
            participantName:
              type: string
            participantUsername:
              type: string
            participantPicture:
              type: string
            status:
              type: string
              enum: [active, archived]
        account:
          type: object
          properties:
            id:
              type: string
              description: Social account ID
            platform:
              type: string
            username:
              type: string
            displayName:
              type: string
        timestamp:
          type: string
          format: date-time
    PostLog:
      type: object
      description: Publishing log entry showing details of a post publishing attempt
      properties:
        _id:
          type: string
        postId:
          oneOf:
            - type: string
            - type: object
              description: Populated post reference
              properties:
                _id:
                  type: string
                content:
                  type: string
                status:
                  type: string
        userId:
          type: string
        profileId:
          type: string
        platform:
          type: string
          enum: [tiktok, instagram, facebook, youtube, linkedin, twitter, threads, pinterest, reddit, bluesky, googlebusiness, telegram, snapchat]
        accountId:
          type: string
        accountUsername:
          type: string
        action:
          type: string
          enum: [publish, retry, media_upload, rate_limit_pause, token_refresh, cancelled]
          description: |
            Type of action logged:
            - `publish` - Initial publish attempt
            - `retry` - Retry after failure
            - `media_upload` - Media upload step
            - `rate_limit_pause` - Account paused due to rate limits
            - `token_refresh` - Token was refreshed
            - `cancelled` - Post was cancelled
        status:
          type: string
          enum: [success, failed, pending, skipped]
        statusCode:
          type: integer
          description: HTTP status code from platform API
        endpoint:
          type: string
          description: Platform API endpoint called
        request:
          type: object
          properties:
            contentPreview:
              type: string
              description: First 200 chars of caption
            mediaCount:
              type: integer
            mediaTypes:
              type: array
              items:
                type: string
            mediaUrls:
              type: array
              items:
                type: string
              description: URLs of media items sent to platform
            scheduledFor:
              type: string
              format: date-time
            rawBody:
              type: string
              description: Full request body JSON (max 5000 chars)
        response:
          type: object
          properties:
            platformPostId:
              type: string
              description: ID returned by platform on success
            platformPostUrl:
              type: string
              description: URL of published post
            errorMessage:
              type: string
              description: Error message on failure
            errorCode:
              type: string
              description: Platform-specific error code
            rawBody:
              type: string
              description: Full response body JSON (max 5000 chars)
        durationMs:
          type: integer
          description: How long the operation took in milliseconds
        attemptNumber:
          type: integer
          description: Attempt number (1 for first try, 2+ for retries)
        createdAt:
          type: string
          format: date-time
    PostLogDetail:
      allOf:
        - $ref: '#/components/schemas/PostLog'
        - type: object
          description: Detailed log entry with populated references
          properties:
            postId:
              type: object
              description: Populated post with full details
              properties:
                _id:
                  type: string
                content:
                  type: string
                status:
                  type: string
                scheduledFor:
                  type: string
                  format: date-time
                platforms:
                  type: array
                  items:
                    type: object
                mediaItems:
                  type: array
                  items:
                    type: object
            accountId:
              type: object
              description: Populated account reference
              properties:
                _id:
                  type: string
                platform:
                  type: string
                username:
                  type: string
                displayName:
                  type: string
            metadata:
              type: object
              description: Additional metadata (e.g., rate limit info)
    MediaItem:
      type: object
      description: |
        Media referenced in posts. URLs must be publicly reachable over HTTPS by the destination platforms.
        When using third‑party storage, ensure signed links remain valid until upload completes.

        **Uploading Media:**
        Use `POST /v1/media/presign` to get a presigned URL, then upload your file directly to cloud storage.
        Supports files up to 5GB. See the `/v1/media/presign` endpoint documentation for details.

        **Automatic Media Compression:**
        Late automatically compresses media that exceeds platform limits, so you don't need to worry about file size restrictions. Compression happens server-side during publishing.

        **Image compression by platform:**
        - Twitter/X: >5 MB
        - Instagram: >8 MB
        - Threads: >8 MB
        - Facebook: >10 MB
        - LinkedIn: >8 MB
        - TikTok: >20 MB
        - Pinterest: >32 MB
        - Reddit: >20 MB
        - Snapchat: >20 MB
        - Telegram: >10 MB
        - Bluesky: >1 MB
        - YouTube (thumbnails): >2 MB
        - Google Business: >5 MB

        **Video compression by platform:**
        - Twitter/X: >512 MB
        - Instagram Stories: >100 MB
        - Instagram Reels: >300 MB
        - Facebook: >4 GB
        - LinkedIn: >5 GB
        - TikTok: >4 GB
        - Pinterest: >2 GB
        - Snapchat: >500 MB
        - Telegram: >50 MB

        Note: Videos larger than 200 MB may not be compressed due to server timeout constraints. For best results, compress very large videos before uploading.
      properties:
        type:
          type: string
          enum: [image, video, gif, document]
        url:
          type: string
          format: uri
        filename:
          type: string
        size:
          type: integer
          description: Optional file size in bytes
        mimeType:
          type: string
          description: Optional MIME type (e.g. image/jpeg, video/mp4)
        thumbnail:
          type: string
          format: uri
          description: Optional thumbnail image URL for videos
        instagramThumbnail:
          type: string
          format: uri
          description: Optional custom cover image URL for Instagram Reels
        tiktokProcessed:
          type: boolean
          description: Internal flag indicating the image was resized for TikTok
    PlatformTarget:
      type: object
      properties:
        platform:
          type: string
          example: twitter
          description: "Supported values: twitter, threads, instagram, youtube, facebook, linkedin, pinterest, reddit, tiktok, bluesky, googlebusiness, telegram"
        accountId:
          oneOf:
            - type: string
            - $ref: '#/components/schemas/SocialAccount'
        customContent:
          type: string
          description: Platform-specific text override. When set, this content is used instead of the top-level post content for this platform. Useful for tailoring captions per platform (e.g. keeping tweets under 280 characters).
        customMedia:
          type: array
          items:
            $ref: '#/components/schemas/MediaItem'
        scheduledFor:
          type: string
          format: date-time
          description: Optional per-platform scheduled time override (uses post.scheduledFor when omitted)
        platformSpecificData:
          description: Platform-specific overrides and options.
          oneOf:
            - $ref: '#/components/schemas/TwitterPlatformData'
            - $ref: '#/components/schemas/ThreadsPlatformData'
            - $ref: '#/components/schemas/FacebookPlatformData'
            - $ref: '#/components/schemas/InstagramPlatformData'
            - $ref: '#/components/schemas/LinkedInPlatformData'
            - $ref: '#/components/schemas/PinterestPlatformData'
            - $ref: '#/components/schemas/YouTubePlatformData'
            - $ref: '#/components/schemas/GoogleBusinessPlatformData'
            - $ref: '#/components/schemas/TikTokPlatformData'
            - $ref: '#/components/schemas/TelegramPlatformData'
            - $ref: '#/components/schemas/SnapchatPlatformData'
          additionalProperties: true
        status:
          type: string
          example: pending
          description: "Platform-specific status: pending, publishing, published, failed"
        platformPostId:
          type: string
          description: The native post ID on the platform (populated after successful publish)
          example: "1234567890123456789"
        platformPostUrl:
          type: string
          format: uri
          description: |
            Public URL of the published post on the platform.
            Populated after successful publish. For immediate posts (publishNow=true), 
            this is included in the response. For scheduled posts, fetch the post 
            via GET /v1/posts/{postId} after the scheduled time.
          example: "https://twitter.com/acmecorp/status/1234567890123456789"
        publishedAt:
          type: string
          format: date-time
          description: Timestamp when the post was published to this platform
        errorMessage:
          type: string
          description: |
            Human-readable error message when status is 'failed'.
            Contains platform-specific error details explaining why the publish failed.
            Examples:
            - "Instagram access token has expired. Please reconnect your account."
            - "Post text exceeds the 500 character limit for Threads."
            - "You do not have enough karma to post in this subreddit."
            - "Video is too long for Reels. Facebook Reels must be 90 seconds or less."
        errorCategory:
          type: string
          enum: [auth_expired, user_content, user_abuse, account_issue, platform_rejected, platform_error, system_error, unknown]
          description: |
            Error category for programmatic handling:
            - auth_expired: Token expired or revoked, account needs reconnection
            - user_content: Content doesn't meet platform requirements (too long, wrong format, etc.)
            - user_abuse: Rate limits, spam detection, excessive posting
            - account_issue: Account configuration problems (missing board, inactive account)
            - platform_rejected: Platform rules violated (banned, suspended, policy violation)
            - platform_error: Platform-side issues (5xx errors, maintenance)
            - system_error: Late infrastructure issues (timeouts, network errors)
            - unknown: Unclassified error
        errorSource:
          type: string
          enum: [user, platform, system]
          description: |
            Who/what caused the error:
            - user: User action required (fix content, reconnect account)
            - platform: Platform-side issue (outage, API change)
            - system: Late system issue (rare)
    Post:
      type: object
      properties:
        _id: { type: string }
        userId:
          oneOf:
            - type: string
            - $ref: '#/components/schemas/User'
        title:
          type: string
          description: |
            YouTube: title must be ≤ 100 characters.
        content: { type: string }
        mediaItems:
          type: array
          items: { $ref: '#/components/schemas/MediaItem' }
        platforms:
          type: array
          items: { $ref: '#/components/schemas/PlatformTarget' }
        scheduledFor: { type: string, format: date-time }
        timezone: { type: string }
        status: { type: string, enum: [draft, scheduled, publishing, published, failed, partial] }
        tags:
          type: array
          description: |
            YouTube tag constraints when targeting YouTube:
            - No count cap; duplicates removed.
            - Each tag must be ≤ 100 chars.
            - Combined characters across all tags ≤ 500.
          items: { type: string }
        hashtags:
          type: array
          items: { type: string }
        mentions:
          type: array
          items: { type: string }
        visibility: { type: string, enum: [public, private, unlisted] }
        metadata:
          type: object
          additionalProperties: true
        queuedFromProfile:
          type: string
          description: Profile ID if the post was scheduled via the queue
        queueId:
          type: string
          description: Queue ID if the post was scheduled via a specific queue
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    TwitterPlatformData:
      type: object
      properties:
        threadItems:
          type: array
          description: Sequence of tweets in a thread. First item is the root tweet.
          items:
            type: object
            properties:
              content: { type: string }
              mediaItems:
                type: array
                items: { $ref: '#/components/schemas/MediaItem' }

    ThreadsPlatformData:
      type: object
      properties:
        threadItems:
          type: array
          description: Sequence of posts in a Threads thread (root then replies in order).
          items:
            type: object
            properties:
              content: { type: string }
              mediaItems:
                type: array
                items: { $ref: '#/components/schemas/MediaItem' }
      description: |
        Constraints:
        - Carousel posts support up to 10 images (no videos in carousels).
        - Single posts support one image or one video.
        - Videos must be H.264/AAC MP4 format, max 5 minutes duration.
        - Images must be JPEG or PNG, max 8 MB each.
        - threadItems creates a reply chain (Threads equivalent of Twitter threads).

    FacebookPlatformData:
      type: object
      properties:
        contentType:
          type: string
          enum: [story]
          description: Set to 'story' to publish as a Facebook Page Story (24-hour ephemeral content). Requires media.
        firstComment:
          type: string
          description: Optional first comment to post immediately after publishing (feed posts only, not stories)
        pageId:
          type: string
          description: |
            Target Facebook Page ID for multi-page posting.
            If omitted, uses the selected/default page on the connection.
            Use GET /api/v1/accounts/{id}/facebook-page to list available pages.
      description: |
        Constraints:
        - Posts cannot mix videos and images.
        - Multiple images supported via attached_media (up to 10 images for feed posts).
        - Multiple videos in the same post are not supported.
        - Stories require media (single image or video); text captions are not displayed with stories.
        - Stories are ephemeral (disappear after 24 hours).
        - Use pageId to post to multiple pages from the same account connection.

    InstagramPlatformData:
      type: object
      properties:
        contentType:
          type: string
          enum: [story]
          description: Set to 'story' to publish as a Story. Default posts become Reels or feed depending on media.
        shareToFeed:
          type: boolean
          default: true
          description: For Reels only. When true (default), the Reel appears on both the Reels tab and your main profile feed. Set to false to post to the Reels tab only.
        collaborators:
          type: array
          items: { type: string }
          description: Up to 3 Instagram usernames to invite as collaborators (feed/Reels only)
        firstComment:
          type: string
          description: Optional first comment to add after the post is created (not applied to Stories)
        trialParams:
          type: object
          description: |
            Trial Reels configuration. Trial reels are only shared to non-followers initially.
            They can later be "graduated" (converted to regular reels visible to followers)
            either manually in the Instagram app or automatically based on performance.
            Only applies to Reels (video posts).
          properties:
            graduationStrategy:
              type: string
              enum: [MANUAL, SS_PERFORMANCE]
              description: |
                The graduation strategy specifies when a trial reel becomes a regular reel:
                - MANUAL: The trial reel can only be manually graduated from the native Instagram app.
                - SS_PERFORMANCE: The trial reel will be automatically graduated if it performs well with non-followers.
        userTags:
          type: array
          description: Tag Instagram users in photos by username and position coordinates. Only works for single image posts and the first image of carousel posts. Not supported for stories or videos.
          items:
            type: object
            required: [username, x, y]
            properties:
              username:
                type: string
                description: Instagram username (@ symbol is optional and will be removed automatically)
                example: friend_username
              x:
                type: number
                minimum: 0
                maximum: 1
                description: X coordinate position from left edge (0.0 = left, 0.5 = center, 1.0 = right)
                example: 0.5
              y:
                type: number
                minimum: 0
                maximum: 1
                description: Y coordinate position from top edge (0.0 = top, 0.5 = center, 1.0 = bottom)
                example: 0.5
        audioName:
          type: string
          description: |
            Custom name for the original audio in Reels. Replaces the default "Original Audio" label.
            Only applies to Reels (video posts). Can only be set once - either during creation or
            later from the Instagram audio page in the app.
          example: "My Podcast Intro"
        thumbOffset:
          type: integer
          minimum: 0
          description: |
            Millisecond offset from the start of the video to use as the Reel thumbnail.
            Only applies to Reels (video posts). If a custom thumbnail URL (instagramThumbnail
            in mediaItems) is provided, it takes priority and this offset is ignored.
            Defaults to 0 (first frame).
          example: 5000
      description: |
        Constraints:
        - Feed posts require images with aspect ratio between 0.8 (4:5 portrait) and 1.91 (1.91:1 landscape).
        - Images outside this range (e.g., 9:16 Stories/TikTok format) must use contentType 'story'.
        - Validation happens at post creation; invalid images are rejected immediately with helpful error messages.
        - Carousels support up to 10 media items.
        - Stories require media; no captions are published with Stories.
        - User tags: coordinates range from 0.0 to 1.0 representing position from top-left corner. Tagged users receive notifications.
        
        **Automatic Compression (similar to Bluesky):**
        - All images (story, post, carousel, thumbnails) exceeding 8 MB are automatically compressed using quality reduction and resizing.
        - Story videos exceeding 100 MB are automatically compressed.
        - Reel videos exceeding 300 MB are automatically compressed.
        - Compression uses Sharp (images) and FFmpeg (videos) to maintain quality while meeting size limits.
        - Original files are preserved; compressed versions are uploaded to blob storage automatically.

    LinkedInPlatformData:
      type: object
      properties:
        organizationUrn:
          type: string
          description: |
            Target LinkedIn Organization URN for multi-organization posting.
            Format: "urn:li:organization:123456789"
            If omitted, uses the selected/default organization on the connection.
            Use GET /api/v1/accounts/{id}/linkedin-organizations to list available organizations.
        firstComment:
          type: string
          description: Optional first comment to add after the post is created
        disableLinkPreview:
          type: boolean
          description: Set to true to disable automatic link previews for URLs in the post content (default is false)
      description: |
        Constraints:
        - Multi-image posts support up to 20 images.
        - Multi-video posts are not supported.
        - Single PDF document posts are supported (max 100MB, ~300 pages). Documents cannot be mixed with other media.
        - Post ID is returned in the x-restli-id response header.
        - Link previews are automatically generated for URLs when no media is attached (can be disabled with disableLinkPreview).
        - Use organizationUrn to post to multiple organizations from the same account connection.

    PinterestPlatformData:
      type: object
      properties:
        title:
          type: string
          maxLength: 100
          description: Pin title. Defaults to first line of content or "Pin". Must be ≤ 100 characters.
        boardId:
          type: string
          description: Target Pinterest board ID. If omitted, the first available board is used.
        link:
          type: string
          format: uri
          description: Destination link (pin URL)
        coverImageUrl:
          type: string
          format: uri
          description: Optional cover image for video pins
        coverImageKeyFrameTime:
          type: integer
          description: Optional key frame time in seconds for derived video cover

    YouTubePlatformData:
      type: object
      properties:
        title:
          type: string
          maxLength: 100
          description: Video title. Defaults to first line of content or "Untitled Video". Must be ≤ 100 characters.
        visibility:
          type: string
          enum: [public, private, unlisted]
          default: public
          description: |
            Video visibility setting:
            - public: Anyone can search for and watch (default)
            - unlisted: Only people with the link can watch
            - private: Only you and people you specifically share with can watch
        madeForKids:
          type: boolean
          default: false
          description: |
            COPPA compliance: Audience designation for the video.
            - true: Video is made for kids (child-directed content)
            - false: Video is NOT made for kids (default)

            This field maps to YouTube's `selfDeclaredMadeForKids` setting. Videos marked as made for kids
            have restricted features (no comments, no notifications, limited ad targeting).

            IMPORTANT: If not specified, defaults to false. YouTube requires this to be explicitly set,
            otherwise the video may be blocked from views until configured in YouTube Studio.
        firstComment:
          type: string
          maxLength: 10000
          description: Optional first comment to post immediately after video upload. Up to 10,000 characters (YouTube's comment limit).
        containsSyntheticMedia:
          type: boolean
          default: false
          description: |
            AI-generated content disclosure flag. Set to true if your video contains AI-generated or synthetic content
            that could be mistaken for real people, places, or events. This helps viewers understand when realistic
            content has been created or altered using AI. YouTube may add a label to videos when this is set.
            Added to YouTube Data API in October 2024.
        categoryId:
          type: string
          default: '22'
          description: |
            YouTube video category ID. Defaults to '22' (People & Blogs).
            Common categories: 1 (Film & Animation), 2 (Autos & Vehicles), 10 (Music),
            15 (Pets & Animals), 17 (Sports), 20 (Gaming), 22 (People & Blogs),
            23 (Comedy), 24 (Entertainment), 25 (News & Politics), 26 (Howto & Style),
            27 (Education), 28 (Science & Technology).
      description: |
        YouTube video upload settings:
        - Videos ≤ 3 minutes are automatically detected as YouTube Shorts
        - Videos > 3 minutes become regular YouTube videos
        - Custom thumbnails supported for regular videos (via mediaItem.thumbnail)
        - Custom thumbnails NOT supported for Shorts via API
        - Scheduled videos are uploaded immediately as the specified visibility and published at scheduled time
        - Visibility defaults to "public" if not specified
        - madeForKids defaults to false (not child-directed)
        - Set containsSyntheticMedia: true if your video contains AI-generated content

    GoogleBusinessPlatformData:
      type: object
      properties:
        locationId:
          type: string
          description: |
            Target Google Business location ID for multi-location posting.
            Format: "locations/123456789"
            If omitted, uses the selected/default location on the connection.
            Use GET /api/v1/accounts/{id}/gmb-locations to list available locations.
        callToAction:
          type: object
          description: Optional call-to-action button displayed on the post
          properties:
            type:
              type: string
              enum: [LEARN_MORE, BOOK, ORDER, SHOP, SIGN_UP, CALL]
              description: |
                Button action type:
                - LEARN_MORE: Link to more information
                - BOOK: Booking/reservation link
                - ORDER: Online ordering link
                - SHOP: E-commerce/shopping link
                - SIGN_UP: Registration/signup link
                - CALL: Phone call action
            url:
              type: string
              format: uri
              description: Destination URL for the CTA button (required when callToAction is provided)
          required: [type, url]
      description: |
        Google Business Profile post settings:
        - Posts support text content and a single image (no videos)
        - Images must be publicly accessible URLs
        - Call-to-action buttons drive user engagement
        - Posts appear on your Google Business Profile and in Google Search/Maps
        - Use locationId to post to multiple locations from the same account connection

    TikTokPlatformData:
      type: object
      description: |
        TikTok platform-specific settings for video/photo posting.

        **Constraints:**
        - Photo carousels support up to 35 images.
        - **Title length limits**:
          - Videos: up to 2200 chars (full content used as title)
          - Photos: content is automatically truncated to 90 chars for title (hashtags/URLs stripped). Use 'description' field for longer text (up to 4000 chars).
        - privacyLevel must be chosen from creator_info.privacy_level_options (no defaulting).
        - allowDuet and allowStitch required for videos; allowComment for all.
        - contentPreviewConfirmed and expressConsentGiven must be true before posting.

        **Note:** Both camelCase and snake_case field names are accepted for backwards compatibility.
        The nested `tiktokSettings` object format is also still supported but deprecated.
      properties:
        draft:
          type: boolean
          description: >
            When true, Late sends the post to the TikTok Creator Inbox as a draft instead of publishing it immediately.
            When omitted or false, TikTok uses direct posting (live publish) as usual.
        privacyLevel:
          type: string
          description: One of the values returned by the TikTok creator info API for the account
        allowComment:
          type: boolean
          description: Allow comments on the post
        allowDuet:
          type: boolean
          description: Allow duets (required for video posts)
        allowStitch:
          type: boolean
          description: Allow stitches (required for video posts)
        commercialContentType:
          type: string
          enum: [none, brand_organic, brand_content]
          description: Type of commercial content disclosure
        brandPartnerPromote:
          type: boolean
          description: Whether the post promotes a brand partner
        isBrandOrganicPost:
          type: boolean
          description: Whether the post is a brand organic post
        contentPreviewConfirmed:
          type: boolean
          description: User has confirmed they previewed the content
        expressConsentGiven:
          type: boolean
          description: User has given express consent for posting
        mediaType:
          type: string
          enum: [video, photo]
          description: Optional override. Defaults based on provided media items.
        videoCoverTimestampMs:
          type: integer
          description: Optional for video posts. Timestamp in milliseconds to select which frame to use as thumbnail (defaults to 1000ms/1 second).
          minimum: 0
        photoCoverIndex:
          type: integer
          description: Optional for photo carousels. Index of image to use as cover, 0-based (defaults to 0/first image).
          minimum: 0
        autoAddMusic:
          type: boolean
          description: When true, TikTok may add recommended music (photos only)
        videoMadeWithAi:
          type: boolean
          description: Set true to disclose AI-generated content
        description:
          type: string
          maxLength: 4000
          description: |
            Optional long-form description for photo posts (max 4000 chars).
            Recommended for photo posts when content exceeds 90 characters, as photo titles are automatically truncated to 90 chars (after stripping hashtags/URLs).

    TikTokSettings:
      type: object
      deprecated: true
      description: |
        **DEPRECATED**: Use flat properties directly in TikTokPlatformData instead.
        This nested format is supported for backwards compatibility only.
      properties:
        privacyLevel: { type: string }
        allowComment: { type: boolean }
        allowDuet: { type: boolean }
        allowStitch: { type: boolean }
        commercialContentType: { type: string }
        brandPartnerPromote: { type: boolean }
        isBrandOrganicPost: { type: boolean }
        contentPreviewConfirmed: { type: boolean }
        expressConsentGiven: { type: boolean }
        mediaType: { type: string }
        videoCoverTimestampMs: { type: integer }
        photoCoverIndex: { type: integer }
        autoAddMusic: { type: boolean }
        videoMadeWithAi: { type: boolean }
        description: { type: string }
    TelegramPlatformData:
      type: object
      properties:
        parseMode:
          type: string
          enum: [HTML, Markdown, MarkdownV2]
          description: Text formatting mode for the message (default is HTML)
        disableWebPagePreview:
          type: boolean
          description: Disable link preview generation for URLs in the message
        disableNotification:
          type: boolean
          description: Send the message silently (users will receive notification without sound)
        protectContent:
          type: boolean
          description: Protect message content from forwarding and saving
      description: |
        Telegram channel/group posting settings:
        - Supports text, images (up to 10), videos (up to 10), and mixed media albums
        - Posts to channels display the channel name and logo as author
        - Posts to groups display the bot name (Late) as author
        - Message IDs are returned for analytics tracking
        - Captions support up to 1024 characters for media posts, 4096 for text-only

        **Analytics:**
        - **Not available via API.** The Telegram Bot API does not expose message analytics (views, forwards, reactions).
        - View counts are only visible to channel admins directly in the Telegram app.
        - This is a Telegram platform limitation that affects all third-party tools.

    SnapchatPlatformData:
      type: object
      properties:
        contentType:
          type: string
          enum: [story, saved_story, spotlight]
          default: story
          description: |
            Type of Snapchat content to publish:
            - `story` - Ephemeral snap visible for 24 hours (default)
            - `saved_story` - Permanent story saved to Public Profile
            - `spotlight` - Video posted to Spotlight (Snapchat's TikTok-like feed)
      description: |
        Snapchat Public Profile API constraints:

        **General Requirements:**
        - Snapchat requires a Public Profile to publish content
        - Media is required for all content types (no text-only posts)
        - Only one media item per post is supported
        - Media is automatically encrypted using AES-256-CBC before upload

        **Content Types:**
        - **Story** (default): Ephemeral content visible for 24 hours. No caption/text supported.
        - **Saved Story**: Permanent story on your Public Profile. Uses post content as title (max 45 chars).
        - **Spotlight**: Video content for Snapchat's entertainment feed. Supports description (max 160 chars) with hashtags.

        **Media Constraints:**
        - Images: max 20 MB, JPEG/PNG format
        - Videos: max 500 MB, MP4 format, 5-60 seconds duration, minimum 540x960px resolution
        - Aspect ratio: 9:16 recommended

        **Analytics:**
        - Views, screenshots, shares, unique viewers, completion rate available
        - Analytics are fetched per content type (story/saved_story/spotlight)

    QueueSlot:
      type: object
      properties:
        dayOfWeek:
          type: integer
          description: Day of week (0=Sunday, 6=Saturday)
          minimum: 0
          maximum: 6
        time:
          type: string
          description: Time in HH:mm format (24-hour)
          pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
    QueueSchedule:
      type: object
      properties:
        _id:
          type: string
          description: Unique queue identifier
        profileId:
          type: string
          description: Profile ID this queue belongs to
        name:
          type: string
          description: Queue name (e.g., "Morning Posts", "Evening Content")
        timezone:
          type: string
          description: IANA timezone (e.g., America/New_York)
        slots:
          type: array
          items:
            $ref: '#/components/schemas/QueueSlot'
        active:
          type: boolean
          description: Whether the queue is active
        isDefault:
          type: boolean
          description: Whether this is the default queue for the profile (used when no queueId specified)
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Pagination:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total: { type: integer }
        pages: { type: integer }
    Profile:
      type: object
      properties:
        _id: { type: string }
        userId: { type: string }
        name: { type: string }
        description: { type: string }
        color: { type: string }
        isDefault: { type: boolean }
        isOverLimit:
          type: boolean
          description: |
            Only present when `includeOverLimit=true` is used. Indicates if this profile
            exceeds the user's plan limit. Over-limit profiles cannot be used for posting
            but can be managed (disconnected accounts, deleted).
        createdAt: { type: string, format: date-time }
    SocialAccount:
      type: object
      properties:
        _id: { type: string }
        platform: { type: string }
        profileId:
          oneOf:
            - type: string
            - $ref: '#/components/schemas/Profile'
        username: { type: string }
        displayName: { type: string }
        profileUrl:
          type: string
          description: |
            Full profile URL for the connected account. Available for all platforms:
            - Twitter/X: https://x.com/{username}
            - Instagram: https://instagram.com/{username}
            - TikTok: https://tiktok.com/@{username}
            - YouTube: https://youtube.com/@{handle} or https://youtube.com/channel/{id}
            - LinkedIn Personal: https://www.linkedin.com/in/{vanityName}/
            - LinkedIn Organization: https://www.linkedin.com/company/{vanityName}/
            - Threads: https://threads.net/@{username}
            - Pinterest: https://pinterest.com/{username}
            - Reddit: https://reddit.com/user/{username}
            - Bluesky: https://bsky.app/profile/{handle}
            - Facebook: https://facebook.com/{username} or https://facebook.com/{pageId}
            - Google Business: Google Maps URL for the business location
        isActive: { type: boolean }
        followersCount:
          type: number
          description: Follower count (only included if user has analytics add-on)
        followersLastUpdated:
          type: string
          format: date-time
          description: Last time follower count was updated (only included if user has analytics add-on)
    AccountWithFollowerStats:
      allOf:
        - $ref: '#/components/schemas/SocialAccount'
        - type: object
          properties:
            profilePicture: { type: string }
            currentFollowers: { type: number, description: Current follower count }
            lastUpdated: { type: string, format: date-time }
            growth: { type: number, description: Follower change over period }
            growthPercentage: { type: number, description: Percentage growth }
            dataPoints: { type: number, description: Number of historical snapshots }
    ApiKey:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        keyPreview: { type: string }
        expiresAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        key:
          type: string
          description: Returned only once, on creation
    UsageStats:
      type: object
      properties:
        planName: { type: string }
        billingPeriod: { type: string, enum: [monthly, yearly] }
        signupDate: { type: string, format: date-time }
        limits:
          type: object
          properties:
            uploads: { type: integer }
            profiles: { type: integer }
        usage:
          type: object
          properties:
            uploads: { type: integer }
            profiles: { type: integer }
            lastReset: { type: string, format: date-time }
    # VideoClipJob, VideoClip, VideoClipJobProcessing, VideoClipJobCompleted, VideoClipJobFailed, VideoClipUsageStats
    # schemas removed - AI Clipping feature temporarily disabled
    PostAnalytics:
      type: object
      properties:
        impressions: { type: integer, example: 0 }
        reach: { type: integer, example: 0 }
        likes: { type: integer, example: 0 }
        comments: { type: integer, example: 0 }
        shares: { type: integer, example: 0 }
        saves: { type: integer, example: 0, description: 'Number of saves/bookmarks (Instagram, Pinterest)' }
        clicks: { type: integer, example: 0 }
        views: { type: integer, example: 0 }
        engagementRate: { type: number, example: 0 }
        lastUpdated: { type: string, format: date-time }
    PlatformAnalytics:
      type: object
      properties:
        platform: { type: string }
        status: { type: string }
        accountId: { type: string }
        accountUsername: { type: string }
        analytics:
          $ref: '#/components/schemas/PostAnalytics'
        accountMetrics:
          type: object
          nullable: true
          properties:
            followers: { type: integer, nullable: true, description: 'Followers/fans count (e.g., Instagram, Facebook Pages, Twitter)' }
            subscribers: { type: integer, nullable: true, description: 'Subscribers count (e.g., YouTube)' }
            lastUpdated: { type: string, format: date-time, nullable: true }
    AnalyticsOverview:
      type: object
      properties:
        totalPosts: { type: integer }
        publishedPosts: { type: integer }
        scheduledPosts: { type: integer }
        lastSync: { type: string, format: date-time }
    AnalyticsSinglePostResponse:
      type: object
      properties:
        postId: { type: string }
        status: { type: string }
        content: { type: string }
        scheduledFor: { type: string, format: date-time }
        publishedAt: { type: string, format: date-time }
        analytics:
          $ref: '#/components/schemas/PostAnalytics'
        platformAnalytics:
          type: array
          items:
            $ref: '#/components/schemas/PlatformAnalytics'
        platform: { type: string }
        platformPostUrl: { type: string, format: uri }
        isExternal: { type: boolean }
    AnalyticsListResponse:
      type: object
      properties:
        overview:
          $ref: '#/components/schemas/AnalyticsOverview'
        posts:
          type: array
          items:
            type: object
            properties:
              _id: { type: string }
              content: { type: string }
              scheduledFor: { type: string, format: date-time }
              publishedAt: { type: string, format: date-time }
              status: { type: string }
              analytics:
                $ref: '#/components/schemas/PostAnalytics'
              platforms:
                type: array
                items:
                  $ref: '#/components/schemas/PlatformAnalytics'
              platform: { type: string }
              platformPostUrl: { type: string, format: uri }
              isExternal: { type: boolean }
              thumbnailUrl: { type: string, format: uri }
              mediaType: { type: string, enum: [image, video, gif, document] }
              mediaItems:
                type: array
                items:
                  $ref: '#/components/schemas/MediaItem'
        pagination:
          $ref: '#/components/schemas/Pagination'
        accounts:
          type: array
          description: Connected social accounts (followerCount and followersLastUpdated only included if user has analytics add-on)
          items:
            $ref: '#/components/schemas/SocialAccount'
        hasAnalyticsAccess:
          type: boolean
          description: Whether user has analytics add-on access
    # LinkedIn Aggregate Analytics Responses
    LinkedInAggregateAnalyticsTotalResponse:
      type: object
      description: Response for TOTAL aggregation (lifetime totals)
      properties:
        accountId: { type: string }
        platform: { type: string, example: linkedin }
        accountType: { type: string, example: personal }
        username: { type: string }
        aggregation: { type: string, enum: [TOTAL] }
        dateRange:
          type: object
          nullable: true
          properties:
            startDate: { type: string, format: date }
            endDate: { type: string, format: date }
        analytics:
          type: object
          properties:
            impressions: { type: integer, description: Total impressions across all posts }
            reach: { type: integer, description: Unique members reached across all posts }
            reactions: { type: integer, description: Total reactions across all posts }
            comments: { type: integer, description: Total comments across all posts }
            shares: { type: integer, description: Total reshares across all posts }
            engagementRate: { type: number, description: Overall engagement rate as percentage }
        note: { type: string }
        lastUpdated: { type: string, format: date-time }
    LinkedInAggregateAnalyticsDailyResponse:
      type: object
      description: Response for DAILY aggregation (time series breakdown)
      properties:
        accountId: { type: string }
        platform: { type: string, example: linkedin }
        accountType: { type: string, example: personal }
        username: { type: string }
        aggregation: { type: string, enum: [DAILY] }
        dateRange:
          type: object
          nullable: true
          properties:
            startDate: { type: string, format: date }
            endDate: { type: string, format: date }
        analytics:
          type: object
          description: |
            Daily breakdown of each metric. Each metric contains an array of date/count pairs.
            Note: 'reach' (MEMBERS_REACHED) is not available with DAILY aggregation per LinkedIn API limitations.
          properties:
            impressions:
              type: array
              items:
                type: object
                properties:
                  date: { type: string, format: date }
                  count: { type: integer }
            reactions:
              type: array
              items:
                type: object
                properties:
                  date: { type: string, format: date }
                  count: { type: integer }
            comments:
              type: array
              items:
                type: object
                properties:
                  date: { type: string, format: date }
                  count: { type: integer }
            shares:
              type: array
              items:
                type: object
                properties:
                  date: { type: string, format: date }
                  count: { type: integer }
        skippedMetrics:
          type: array
          description: Metrics that were skipped due to API limitations
          items: { type: string }
        note: { type: string }
        lastUpdated: { type: string, format: date-time }
    # ============================================
    # Response Schemas
    # ============================================
    # Posts Responses
    PostsListResponse:
      type: object
      properties:
        posts:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        pagination:
          $ref: '#/components/schemas/Pagination'
    PostGetResponse:
      type: object
      properties:
        post:
          $ref: '#/components/schemas/Post'
    PostCreateResponse:
      type: object
      properties:
        message:
          type: string
        post:
          $ref: '#/components/schemas/Post'
    PostUpdateResponse:
      type: object
      properties:
        message:
          type: string
        post:
          $ref: '#/components/schemas/Post'
    PostDeleteResponse:
      type: object
      properties:
        message:
          type: string
    PostRetryResponse:
      type: object
      properties:
        message:
          type: string
        post:
          $ref: '#/components/schemas/Post'
    # Profiles Responses
    ProfilesListResponse:
      type: object
      properties:
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/Profile'
    ProfileGetResponse:
      type: object
      properties:
        profile:
          $ref: '#/components/schemas/Profile'
    ProfileCreateResponse:
      type: object
      properties:
        message:
          type: string
        profile:
          $ref: '#/components/schemas/Profile'
    ProfileUpdateResponse:
      type: object
      properties:
        message:
          type: string
        profile:
          $ref: '#/components/schemas/Profile'
    ProfileDeleteResponse:
      type: object
      properties:
        message:
          type: string
    # Accounts Responses
    AccountsListResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/SocialAccount'
        hasAnalyticsAccess:
          type: boolean
          description: Whether user has analytics add-on access
    AccountGetResponse:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/SocialAccount'
    FollowerStatsResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountWithFollowerStats'
        dateRange:
          type: object
          properties:
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
        aggregation:
          type: string
          enum: [daily, weekly, monthly]
    # Media Responses
    UploadedFile:
      type: object
      properties:
        type:
          type: string
          enum: [image, video, document]
        url:
          type: string
          format: uri
        filename:
          type: string
        size:
          type: integer
        mimeType:
          type: string
    MediaUploadResponse:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/UploadedFile'
    UploadTokenResponse:
      type: object
      properties:
        token:
          type: string
        uploadUrl:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, completed, expired]
    UploadTokenStatusResponse:
      type: object
      properties:
        token:
          type: string
        status:
          type: string
          enum: [pending, completed, expired]
        files:
          type: array
          items:
            $ref: '#/components/schemas/UploadedFile'
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
    # Queue Responses
    QueueSlotsResponse:
      type: object
      properties:
        exists:
          type: boolean
        schedule:
          $ref: '#/components/schemas/QueueSchedule'
        nextSlots:
          type: array
          items:
            type: string
            format: date-time
    QueueUpdateResponse:
      type: object
      properties:
        success:
          type: boolean
        schedule:
          $ref: '#/components/schemas/QueueSchedule'
        nextSlots:
          type: array
          items:
            type: string
            format: date-time
        reshuffledCount:
          type: integer
    QueueDeleteResponse:
      type: object
      properties:
        success:
          type: boolean
        deleted:
          type: boolean
    QueuePreviewResponse:
      type: object
      properties:
        profileId:
          type: string
        count:
          type: integer
        slots:
          type: array
          items:
            type: string
            format: date-time
    QueueNextSlotResponse:
      type: object
      properties:
        profileId:
          type: string
        nextSlot:
          type: string
          format: date-time
        timezone:
          type: string
    # Tools Responses
    DownloadFormat:
      type: object
      properties:
        formatId:
          type: string
        ext:
          type: string
        resolution:
          type: string
        filesize:
          type: integer
        quality:
          type: string
    DownloadResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
        title:
          type: string
        thumbnail:
          type: string
          format: uri
        duration:
          type: integer
        formats:
          type: array
          items:
            $ref: '#/components/schemas/DownloadFormat'
    TranscriptSegment:
      type: object
      properties:
        text:
          type: string
        start:
          type: number
        duration:
          type: number
    TranscriptResponse:
      type: object
      properties:
        transcript:
          type: string
        segments:
          type: array
          items:
            $ref: '#/components/schemas/TranscriptSegment'
        language:
          type: string
    HashtagInfo:
      type: object
      properties:
        hashtag:
          type: string
        status:
          type: string
          enum: [safe, banned, restricted, unknown]
        postCount:
          type: integer
    HashtagCheckResponse:
      type: object
      properties:
        hashtags:
          type: array
          items:
            $ref: '#/components/schemas/HashtagInfo'
    CaptionResponse:
      type: object
      properties:
        caption:
          type: string
    # Users Responses
    User:
      type: object
      properties:
        _id:
          type: string
        email:
          type: string
        name:
          type: string
        role:
          type: string
        createdAt:
          type: string
          format: date-time
    UsersListResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    UserGetResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
security:
  - bearerAuth: []
paths:
  # ============================================
  # Tools API - Media Download & Utilities
  # ============================================
  /v1/tools/youtube/download:
    get:
      operationId: downloadYouTubeVideo
      tags: [Tools]
      summary: Download YouTube video or audio
      description: |
        Download YouTube videos or audio. Returns available formats or direct download URL.
        
        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      security:
        - bearerAuth: []
      parameters:
        - name: url
          in: query
          required: true
          description: YouTube video URL or video ID
          schema:
            type: string
            example: "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        - name: action
          in: query
          description: "Action to perform: 'download' returns download URL, 'formats' lists available formats"
          schema:
            type: string
            enum: [download, formats]
            default: download
        - name: format
          in: query
          description: Desired format (when action=download)
          schema:
            type: string
            enum: [video, audio]
            default: video
        - name: quality
          in: query
          description: Desired quality (when action=download)
          schema:
            type: string
            enum: [hd, sd]
            default: hd
        - name: formatId
          in: query
          description: Specific format ID from formats list
          schema:
            type: string
      responses:
        "200":
          description: Success
          headers:
            X-RateLimit-Limit:
              schema: { type: string }
              description: Daily rate limit
            X-RateLimit-Remaining:
              schema: { type: string }
              description: Remaining calls today
            X-RateLimit-Reset:
              schema: { type: string }
              description: Unix timestamp when limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  title: { type: string }
                  downloadUrl: { type: string, format: uri }
                  formats:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        label: { type: string }
                        ext: { type: string }
                        type: { type: string }
                        height: { type: integer }
                        width: { type: integer }
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          description: Tools API not available on free plan
        "429":
          description: Daily rate limit exceeded

  /v1/tools/youtube/transcript:
    get:
      operationId: getYouTubeTranscript
      tags: [Tools]
      summary: Get YouTube video transcript
      description: |
        Extract transcript/captions from a YouTube video.
        
        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      security:
        - bearerAuth: []
      parameters:
        - name: url
          in: query
          required: true
          description: YouTube video URL or video ID
          schema:
            type: string
        - name: lang
          in: query
          description: Language code for transcript
          schema:
            type: string
            default: en
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  videoId: { type: string }
                  language: { type: string }
                  fullText: { type: string }
                  segments:
                    type: array
                    items:
                      type: object
                      properties:
                        text: { type: string }
                        start: { type: number }
                        duration: { type: number }
        "404":
          description: No transcript available

  /v1/tools/instagram/download:
    get:
      operationId: downloadInstagramMedia
      tags: [Tools]
      summary: Download Instagram reel or post
      description: |
        Download Instagram reels, posts, or photos.
        
        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      security:
        - bearerAuth: []
      parameters:
        - name: url
          in: query
          required: true
          description: Instagram reel or post URL
          schema:
            type: string
            example: "https://www.instagram.com/reel/ABC123/"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  title: { type: string }
                  downloadUrl: { type: string, format: uri }

  /v1/tools/instagram/hashtag-checker:
    post:
      operationId: checkInstagramHashtags
      tags: [Tools]
      summary: Check Instagram hashtags for bans
      description: |
        Check if Instagram hashtags are banned, restricted, or safe to use.
        
        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hashtags]
              properties:
                hashtags:
                  type: array
                  maxItems: 20
                  items:
                    type: string
                  example: ["travel", "followforfollow", "fitness"]
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        hashtag: { type: string }
                        status:
                          type: string
                          enum: [banned, restricted, safe, unknown]
                        reason: { type: string }
                        confidence: { type: number }
                  summary:
                    type: object
                    properties:
                      banned: { type: integer }
                      restricted: { type: integer }
                      safe: { type: integer }

  /v1/tools/tiktok/download:
    get:
      operationId: downloadTikTokVideo
      tags: [Tools]
      summary: Download TikTok video
      description: |
        Download TikTok videos with or without watermark.
        
        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      security:
        - bearerAuth: []
      parameters:
        - name: url
          in: query
          required: true
          description: TikTok video URL or ID
          schema:
            type: string
        - name: action
          in: query
          description: "'formats' to list available formats"
          schema:
            type: string
            enum: [download, formats]
            default: download
        - name: formatId
          in: query
          description: Specific format ID (0 = no watermark, etc.)
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  title: { type: string }
                  downloadUrl: { type: string, format: uri }
                  formats:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        label: { type: string }
                        ext: { type: string }

  /v1/tools/twitter/download:
    get:
      operationId: downloadTwitterMedia
      tags: [Tools]
      summary: Download Twitter/X video
      description: |
        Download videos from Twitter/X posts.
        
        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      security:
        - bearerAuth: []
      parameters:
        - name: url
          in: query
          required: true
          description: Twitter/X post URL
          schema:
            type: string
            example: "https://x.com/user/status/123456789"
        - name: action
          in: query
          schema:
            type: string
            enum: [download, formats]
            default: download
        - name: formatId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  title: { type: string }
                  downloadUrl: { type: string, format: uri }

  /v1/tools/facebook/download:
    get:
      operationId: downloadFacebookVideo
      tags: [Tools]
      summary: Download Facebook video
      description: |
        Download videos and reels from Facebook.
        
        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      security:
        - bearerAuth: []
      parameters:
        - name: url
          in: query
          required: true
          description: Facebook video or reel URL
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  title: { type: string }
                  downloadUrl: { type: string, format: uri }
                  thumbnail: { type: string, format: uri }

  /v1/tools/linkedin/download:
    get:
      operationId: downloadLinkedInVideo
      tags: [Tools]
      summary: Download LinkedIn video
      description: |
        Download videos from LinkedIn posts.
        
        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      security:
        - bearerAuth: []
      parameters:
        - name: url
          in: query
          required: true
          description: LinkedIn post URL
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  title: { type: string }
                  downloadUrl: { type: string, format: uri }

  /v1/tools/bluesky/download:
    get:
      operationId: downloadBlueskyMedia
      tags: [Tools]
      summary: Download Bluesky video
      description: |
        Download videos from Bluesky posts.
        
        **Rate Limits:** Build (50/day), Accelerate (500/day), Unlimited (unlimited)
      security:
        - bearerAuth: []
      parameters:
        - name: url
          in: query
          required: true
          description: Bluesky post URL
          schema:
            type: string
            example: "https://bsky.app/profile/user.bsky.social/post/abc123"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  title: { type: string }
                  text: { type: string }
                  downloadUrl: { type: string, format: uri }
                  thumbnail: { type: string, format: uri }

  # ============================================
  # Analytics
  # ============================================
  /v1/analytics:
    get:
      operationId: getAnalytics
      tags: [Analytics]
      summary: Unified analytics for posts
      description: |
        Returns analytics for posts. If postId is provided, returns analytics for a single post.
        Otherwise returns a paginated list of posts with overview stats.
        
        **Important: Understanding Post IDs**
        
        This endpoint uses two types of posts:
        - **Late Posts** - Posts scheduled/created via the Late API (e.g., via `POST /v1/posts`)
        - **External Posts** - Posts synced from social platforms for analytics tracking
        
        When you schedule a post via Late and it gets published, **both** records exist:
        1. The original Late Post (returned when you created the post)
        2. An External Post (created when we sync analytics from the platform)
        
        **List endpoint behavior:**
        - Returns External Post IDs (`_id` field)
        - Use the `isExternal` field to identify post origin:
          - `isExternal: true` - Synced from platform (may have been originally scheduled via Late)
          - `isExternal: false` - Late-scheduled post (shown when querying by Late post ID)
        
        **Single post behavior (`postId` parameter):**
        - Accepts **both** Late Post IDs and External Post IDs
        - If you pass a Late Post ID, the API automatically resolves it to the corresponding External Post analytics
        - Both return the same analytics data for the same underlying social media post
        
        **Correlating posts:** Use `latePostId` to link analytics entries back to the original post created via `POST /v1/posts`. This field contains the Late Post ID when the external post originated from Late. Alternatively, use `platformPostUrl` (e.g., `https://www.instagram.com/reel/ABC123/`) as a stable identifier.
        
        **Note:** For follower count history and growth metrics, use the dedicated `/v1/accounts/follower-stats` endpoint.
        
        **LinkedIn Analytics:**
        - **Personal Accounts:** Per-post analytics available for posts published through Late. External posts cannot be synced due to LinkedIn API restrictions.
        - **Organization Accounts:** Full analytics support including external post syncing.

        **Telegram Analytics:**
        - **Not available.** The Telegram Bot API does not provide message view counts, forwards, or engagement metrics. This is a Telegram platform limitation, not a Late limitation. View counts are only visible to channel admins in the Telegram app.

        **Data Freshness:** Analytics data is cached and refreshed at most once per hour. When you call this endpoint, if the cache is older than 60 minutes, a background refresh is triggered and you'll see updated data on subsequent requests. There is no rate limit on API requests.
      parameters:
        - name: postId
          in: query
          schema: { type: string }
          description: |
            Returns analytics for a single post. Accepts both Late Post IDs (from `POST /v1/posts`) 
            and External Post IDs (from this endpoint's list response). The API automatically 
            resolves Late Post IDs to their corresponding External Post analytics.
        - name: platform
          in: query
          schema: { type: string }
          description: Filter by platform (default "all")
        - name: profileId
          in: query
          schema: { type: string }
          description: Filter by profile ID (default "all")
        - name: source
          in: query
          schema: { type: string, enum: [all, late, external], default: all }
          description: |
            Filter by post source:
            - `late` - Only posts scheduled/published via Late API
            - `external` - Only posts synced from the platform (not posted via Late)
            - `all` - All posts (default)
        - name: fromDate
          in: query
          schema: { type: string, format: date }
          description: Inclusive lower bound
        - name: toDate
          in: query
          schema: { type: string, format: date }
          description: Inclusive upper bound
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
          description: Page size (default 50)
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
          description: Page number (default 1)
        - name: sortBy
          in: query
          schema: { type: string, enum: [date, engagement], default: date }
          description: Sort by date or engagement
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc], default: desc }
          description: Sort order
      responses:
        '200':
          description: Analytics result
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AnalyticsSinglePostResponse'
                  - $ref: '#/components/schemas/AnalyticsListResponse'
              examples:
                singlePost:
                  summary: Single post analytics
                  value:
                    postId: "65f1c0a9e2b5af0012ab34cd"
                    latePostId: "65f1c0a9e2b5af0012ab34ab"
                    status: "published"
                    content: "Check out our new product launch!"
                    scheduledFor: "2024-11-01T10:00:00Z"
                    publishedAt: "2024-11-01T10:00:05Z"
                    analytics:
                      impressions: 15420
                      reach: 12350
                      likes: 342
                      comments: 28
                      shares: 45
                      clicks: 189
                      views: 0
                      engagementRate: 2.78
                      lastUpdated: "2024-11-02T08:30:00Z"
                    platformAnalytics:
                      - platform: "twitter"
                        status: "published"
                        accountId: "64e1f0a9e2b5af0012ab34cd"
                        accountUsername: "@acmecorp"
                        analytics:
                          impressions: 15420
                          reach: 12350
                          likes: 342
                          comments: 28
                          shares: 45
                          clicks: 189
                          views: 0
                          engagementRate: 2.78
                          lastUpdated: "2024-11-02T08:30:00Z"
                    platform: "twitter"
                    platformPostUrl: "https://twitter.com/acmecorp/status/123456789"
                    isExternal: false
                postList:
                  summary: Paginated analytics list
                  description: |
                    Note: The list endpoint returns External Post IDs. Posts originally 
                    scheduled via Late will have isExternal: true in this response.
                    Use platformPostUrl to correlate with your original Late Post IDs.
                  value:
                    overview:
                      totalPosts: 156
                      publishedPosts: 142
                      scheduledPosts: 0
                      lastSync: "2024-11-02T08:30:00Z"
                    posts:
                      - _id: "65f1c0a9e2b5af0012ab34cd"
                        latePostId: "65f1c0a9e2b5af0012ab34ab"
                        content: "Check out our new product launch!"
                        scheduledFor: "2024-11-01T10:00:00Z"
                        publishedAt: "2024-11-01T10:00:05Z"
                        status: "published"
                        analytics:
                          impressions: 15420
                          likes: 342
                          comments: 28
                          engagementRate: 2.78
                          lastUpdated: "2024-11-02T08:30:00Z"
                        platforms:
                          - platform: "instagram"
                            status: "published"
                            analytics:
                              impressions: 15420
                              likes: 342
                              comments: 28
                        platform: "instagram"
                        platformPostUrl: "https://www.instagram.com/reel/ABC123xyz/"
                        isExternal: true
                        thumbnailUrl: "https://storage.example.com/thumb.jpg"
                        mediaType: "video"
                    pagination:
                      page: 1
                      limit: 50
                      total: 156
                      pages: 4
                    accounts:
                      - _id: "64e1f0..."
                        platform: "twitter"
                        username: "@acmecorp"
                        displayName: "Acme Corp"
                        isActive: true
                    hasAnalyticsAccess: true
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402':
          description: Analytics add-on required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: Analytics add-on required }
                  code: { type: string, example: analytics_addon_required }
        '404': { $ref: '#/components/responses/NotFound' }
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/analytics/youtube/daily-views:
    get:
      operationId: getYouTubeDailyViews
      tags: [Analytics]
      summary: YouTube daily views breakdown
      description: |
        Returns historical daily view counts for a specific YouTube video.
        Uses YouTube Analytics API v2 to fetch daily breakdowns including views,
        watch time, and subscriber changes.

        **Required Scope:** This endpoint requires the `yt-analytics.readonly` OAuth scope.
        Existing YouTube accounts may need to re-authorize to grant this permission.
        If the scope is missing, the response will include a `reauthorizeUrl`.

        **Data Latency:** YouTube Analytics data has a 2-3 day delay. The `endDate`
        is automatically capped to 3 days ago.

        **Date Range:** Maximum 90 days of historical data available. Defaults to last 30 days.
      parameters:
        - name: videoId
          in: query
          required: true
          schema: { type: string }
          description: The YouTube video ID (e.g., "dQw4w9WgXcQ")
        - name: accountId
          in: query
          required: true
          schema: { type: string }
          description: The Late account ID for the YouTube account
        - name: startDate
          in: query
          schema: { type: string, format: date }
          description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
        - name: endDate
          in: query
          schema: { type: string, format: date }
          description: End date (YYYY-MM-DD). Defaults to 3 days ago (YouTube data latency).
      responses:
        '200':
          description: Daily views breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouTubeDailyViewsResponse'
              examples:
                success:
                  summary: Successful response with daily views
                  value:
                    success: true
                    videoId: "dQw4w9WgXcQ"
                    dateRange:
                      startDate: "2025-01-01"
                      endDate: "2025-01-12"
                    totalViews: 12345
                    dailyViews:
                      - date: "2025-01-12"
                        views: 1234
                        estimatedMinutesWatched: 567.5
                        averageViewDuration: 45.2
                        subscribersGained: 10
                        subscribersLost: 2
                        likes: 89
                        comments: 12
                        shares: 5
                      - date: "2025-01-11"
                        views: 987
                        estimatedMinutesWatched: 432.1
                        averageViewDuration: 43.8
                        subscribersGained: 8
                        subscribersLost: 1
                        likes: 67
                        comments: 8
                        shares: 3
                    lastSyncedAt: "2025-01-15T12:00:00Z"
                    scopeStatus:
                      hasAnalyticsScope: true
        '400':
          description: Bad request (missing or invalid parameters)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
              examples:
                missingVideoId:
                  value:
                    error: "videoId is required"
                invalidDate:
                  value:
                    error: "Invalid startDate format. Use YYYY-MM-DD."
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402':
          description: Analytics add-on required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Analytics add-on required" }
                  code: { type: string, example: "analytics_addon_required" }
        '403':
          description: Access denied to this account
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: "Access denied to this account" }
        '412':
          description: Missing YouTube Analytics scope
          content:
[...]
